.mask {
  position fixed
  top: $header-height;
  height 'calc(100% - %s)' % $header-height
  width 100%
  background-image linear-gradient(180deg, $primary-bg-color-rgba 0%, $second-bg-color-rgba 100%)
}
