body {
  padding: 0;
  font-family zpix
  color $primary-color
  background: url("/images/jojo.jpg") repeat

  .header {
    background-image $primary-linear-color
    height $header-height

    .header-inner {
      margin 0 auto
      width $content-desktop
      display flex
      flex-direction column
      height 100%
    }
  }

  .main {
    padding 5rem 0
    background: rgba(190, 214, 222, .2)

    .main-inner {
      margin: 0 auto;
      width: $content-desktop;
      .content {
      }
    }
  }
}
